@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --theme-dark-blue: #242834;
  --theme-dark-blue-rgb: 36, 40, 52;
  --theme-blue: #095b93;
  --theme-blue-rgb: 9, 91, 147;
  --theme-light-blue: #489AC2;
  --theme-light-blue-rgb: 72, 154, 194;
  --theme-sandy: #C4B0A9;
  --theme-sandy-rgb: 196, 176, 169;
  --theme-yellow: #ffeec7;
  --theme-yellow-rgb: 255, 238, 199;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--theme-light-blue);
}